@charset "UTF-8";

body {
  background-color: rgb(176, 176, 250);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

h1 {
  color: black;
}

h1#principal {
  background-color: rgb(67, 35, 156);
  color: whitesmoke;
  text-align: center;
  font-size: 3em;
}

h2 {
  color: rgb(36, 44, 160);
  text-indent: 30px;
  background-color: rgba(113, 67, 156, 0.459);
}

.basico {
  color: green;
}

.intermediario {
  color: yellow;
}

.avançado {
  color: red;
}
