@charset "UTF-8";

@font-face {
  font-family: "idroid";
  src: url("fontes/idroid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #89cda5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(to top, #14492c, #368454, #4ea86e);
  color: white;
  padding: 10px;
  height: 148px;
  margin: 0px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
}

header > p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.342);
  padding: 0px;
  padding-top: 20px;
}

header > h1 {
  text-align: center;
  font-family: "bebas neue", sans-serif;
  font-size: 32px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.342);
}

header > nav {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
  padding-top: 50px;
}

nav > a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
  padding: 10px;
}

nav > a:hover {
  border-radius: 5px;
  background-color: #4ea86e;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
  border-radius: 0px 0px 5px 5px;
}

strong {
  color: #1a5a37;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

a {
  color: #14492c;
  text-decoration: none;
  font-weight: bold;
}

.primeira > p > a:hover {
  background-color: #14492c;
  color: white;
}

.segunda > p > a:hover {
  background-color: #14492c;
  color: white;
}

picture {
  margin: 100px;
}

.primeira > h1 {
  font-family: "idroid";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  font-size: 32px;
  color: #1a5a37;
  text-align: center;
  padding-top: 39px;
}

.primeira > p {
  text-indent: 32px;
  text-align: justify;
  padding: 22px 15px 39px 15px;
  line-height: 2em;
}

h2 {
  font-family: "idroid";
  background-image: linear-gradient(to right, #8dcfa8, #c7e7d4, #e9f5ee, white);
  color: #1a5a37;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  border-radius: 13px;
  margin-left: 15px;
  padding: 2px 0px 2px 10px;
}

.segunda > p {
  text-indent: 32px;
  text-align: justify;
  padding: 22px 15px 39px 15px;
  line-height: 2em;
}

.bugdroid {
  margin: 321px;
}

article {
  background-color: #c5ebd6;
  border-radius: 8px;
  margin: 18px;
}

article > p {
  text-indent: 32px;
  text-align: justify;
  padding: 22px 15px 39px 15px;
  line-height: 2em;
}
article > p > a:hover {
  background-color: #14492c;
  color: white;
}
.tituloarticle {
  background-color: #2fa866;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  border-radius: 8px 8px 0px 0px;
  padding: 3px;
  text-indent: 3px;
}

.lista1 {
  display: inline-block;
  margin-left: 70px;
}

.lista2 {
  display: inline-block;
  margin-left: 230px;
}

li::before {
  content: "✓ ";
  font-weight: bold;
}

.final {
  text-indent: 32px;
  text-align: justify;
  padding: 22px 15px 39px 15px;
  line-height: 2em;
}

footer {
  background: #1a5a37;
  margin-top: 10px;
  color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-size: small;
}

footer > p > a {
  color: white;
}

footer > p > a:hover {
  background-color: white;
  color: black;
}
