@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  width: 100%;
  min-height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}

.login{
  display: flex;
  gap: 15px;
}

.login > p {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.4s;
}

.login > p:hover{
  border-bottom: 2px solid white;
  border-radius: 10px;
}

.logo{
  width: 180px;
}

.titulo >h1{
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

.titulo > p{
  color: #383838;
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "maincontent sidebarcontent";
  padding: 20px;
  flex: 1 0 auto;
}

.maincardimg{
  width: 100%;
  height: 200px;
  border-radius: 10px;
}


.item{
  width: 380px;
  height: 400px;
   border: 2px solid transparent;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.4s;
}
.item:hover{
  border-color: black;
}
.maincontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: maincontent;
}

.item>h2{
  padding: 6px;
}

.sidebarcontent{
   background-color: black;
   color: white;
   padding: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 300px;
   grid-area: sidebarcontent;
   gap: 20px;
}

.imgaside{
  width: 100%;
  border-radius: 10px;
}

.sidebarcard{
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.sidebarcard:hover{
  border-color: white;
}

.sidebarcard > h2{
  text-align: center;
  padding: 10px;
}

footer{
  width: 100%;
  min-height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 15px;
}

a{
  text-decoration: none;
  color: white;
}

@media (max-width: 1586px){
  .sidebarcontent{
    height: 62%;
  }
}

@media (max-width: 1470px){
  .sidebarcontent{
    height: 60%;
  }
}

@media (max-width: 1400px){
  .sidebarcontent{
    height: 58%;
  }
}

@media (max-width: 1314px){
  .sidebarcontent{
    height: 56%;
  }
}

@media (max-width: 1130px){
  .sidebarcontent{
    height: 30%;
  }
}

@media (max-width: 1070px){
  .sidebarcontent{
    height: 30%;
  }
}

@media (max-width: 726px)
{
  .main{
    grid-template-areas: 
    "maincontent"
    "sidebarcontent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sidebarcontent{
    min-width: auto;
  }

  a{
    font-size: 18px;
  }

}

@media (max-width: 500px){
  header,footer {
    justify-content: center;
  }
}